# OS #
.DS_Store*
*.DS_store
ehthumbs.db
Thumbs.db
[Dd]esktop.ini

# IDE #
.vscode

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


.dropbox
*.sql
desktop.ini
.init
*.log
*.exe*

# Project #
node_modules
build
build/*
tmp
release

